---
layout: layout.njk
title: Strona Główna
permalink: /
---
<section id="hero">
    <h1>Budujemy Przyszłość, Tworzymy Przestrzeń</h1>
    <p>Specjalizujemy się w realizacji nowoczesnych inwestycji, które łączą innowacyjność, funkcjonalność i najwyższą jakość wykonania.</p>
    <a href="/inwestycje/" class="btn">Zobacz nasze inwestycje</a>
</section>
<section id="about">
    <div class="container">
        <div class="about-content">
            <div class="about-text">
                <h3>Doświadczenie i Pasja w Budownictwie</h3>
                <p>Firma PAWEŁ SOŁDAŃSKI powstała z pasji do tworzenia wyjątkowych miejsc do życia i pracy. Od lat działamy na rynku budowlanym, zdobywając cenne doświadczenie i zaufanie Klientów.</p>
                <a href="/o-nas/" class="btn">Dowiedz się więcej</a>
            </div>
            <div class="about-image">
                <img src="/assets/images/about.jpeg" alt="Zespół firmy dyskutujący nad projektem">
            </div>
        </div>
    </div>
</section>