---
layout: layout.njk
title: O Nas
permalink: /o-nas/index.html
---
<section class="page-header">
    <div class="container"><h1>O Naszej Firmie</h1></div>
</section>
<section>
    <div class="container">
        <!-- Tutaj wklej zawartość strony O nas z pliku beta.compan.eu -->
        <p style="text-align: center;">Treść o firmie, historia, misja, wartości.</p>
    </div>
</section>